*{
  padding: 0;
  margin: 0;
  font-family: "Lexend";
}

.customStyle {
  color: #000000;
  font-family: "Lexend", sans-serif;
  font-size: 11px;
  font-weight: 600;
}

.buttonStyle {
  font-family: "Lexend", sans-serif;
  font-size: 11px;
  font-weight: 400;
  /* height: 20px;  */
  padding: '2px 8px';
  border: 11px solid red
}


.nameStyle {
  font-family: "Lexend", sans-serif;
  font-size: 11px;
  font-weight: 600;
  margin-right: 11px; 
  height: 18px; 
}

.roleStyle {
  font-family: "Lexend", sans-serif;
  font-size: 9px;
  font-weight: 300;
  margin-right: 11px; 
  height: 18px; 
}

#field-options {
  display: flex;
  flex-direction: column;
  align-items: start; 
}

#field-options p {
  display: flex;
  align-items: center; 
  margin: 10px 0; 
  font-weight: 500;
  font-size: 15px;
}

#field-options p svg {
  margin-right: 5px; 
}

.MuiDataGrid-footerContainer.MuiDataGrid-withBorderColor.css-wop1k0-MuiDataGrid-footerContainer {
  display: none !important;
}

.MuiDataGrid-columnHeadersInner .MuiDataGrid-columnHeadersInner--scrollable .css-gl260s-MuiDataGrid-columnHeadersInner{
  display: none !important;
}

.MuiAutocomplete-root  .css-188a24p-MuiInputBase-root-MuiInput-root{
  border: none !important; 
  outline: none !important;
  font-weight: 500;
}


:where(.css-dev-only-do-not-override-1vr7spz).ant-popover {
  border-radius: 8px;
  border: 0.1rem solid #6271EB !important;
  box-shadow: 0 2px 8px 0 #6271eb, 0 1px 2px -4px #6271eb75, 0 9px 28px 8px #6271eb03
}


.css-w7ghnq-MuiInputBase-root-MuiInput-root:before,
.css-w7ghnq-MuiInputBase-root-MuiInput-root:after {
  border-bottom: none !important;
}



.custom-ok-button {
  background-color: #8996f4; 
  color: white;
  border: none;
}

.custom-cancel-button {
  background-color: #aeacb0; 
  color: white;
  border: none;
}

.custom-ok-button:hover {
  background-color: #8996f4 !important; 
}

.custom-cancel-button:hover {
  background-color: #aeacb0 !important; 
  color: #fff !important;
}

.css-1c1jkmn-MuiDataGrid-root .MuiDataGrid-withBorderColor{
  border: none !important;
}

.css-1ngi5tx-MuiDataGrid-root .MuiDataGrid-withBorderColor{
  border-bottom: none;
}

.MuiDataGrid-virtualScrollerRenderZone .css-s1v7zr-MuiDataGrid-virtualScrollerRenderZone{
  min-height: "300px" !important;
}

.css-axafay-MuiDataGrid-virtualScroller {
  position: relative !important;
}

.css-1c1jkmn-MuiDataGrid-root .MuiDataGrid-cell.MuiDataGrid-cell--editing:focus-within{
  outline: solid #fff !important;
  font-size: '22px';
}

.css-1o8s50a-MuiInputBase-root-MuiDataGrid-editInputCell input{
  color: #6271EB;
  font-weight: 600;
  font-size: 11px;
  font-family: 'lexend';
}

.MuiInputBase-root .MuiOutlinedInput-root .MuiInputBase-colorPrimary .MuiInputBase-formControl .css-syuq4g-MuiInputBase-root-MuiOutlinedInput-root{
  outline: #8996f4;
}

.MuiDataGrid-cell--withRenderer .MuiDataGrid-cell .MuiDataGrid-cell--textLeft .MuiDataGrid-cell--editable .MuiDataGrid-withBorderColor{
  border: #e11111;
}

.css-1c1jkmn-MuiDataGrid-root .MuiDataGrid-row:not(.MuiDataGrid-row--dynamicHeight)>.MuiDataGrid-cell{
  outline: none !important;
}

.css-797iwu-MuiInputBase-root-MuiInput-root:before{
  border-bottom: none !important;
  outline: none !important;
}

.css-797iwu-MuiInputBase-root-MuiInput-root:after{
  outline: none !important;
  border-bottom: none !important;
}

.MuiInputBase-root .MuiInput-root .MuiInput-underline .MuiInputBase-colorPrimary .MuiInputBase-formControl .css-797iwu-MuiInputBase-root-MuiInput-root .css-797iwu-MuiInputBase-root-MuiInput-root{
  font-weight: 800 !important;
}